.HeaderTitle {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;

}

.HeaderTitle div {
    cursor: pointer;
    z-index: 1;
    width: 100%;
    text-align: center;
}


