.Sales_v2 {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
}

.SalesUrl {
    width: 18%;
}

.Arrow {
    position: absolute;
    cursor: pointer;
    transition: right 0.2s, left 0.2s;
}

.LeftArrow {
    transform: rotate(180deg);
    left: 5%;
}

.LeftArrow:hover{
    left: 4%;
}

.RightArrow {
    right: 5%;
}

.RightArrow:hover {
    right: 4%;
}